body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.top-header {
    background-color: #008ED0;
    padding: 10px;
}

.phone {
    color: #fff;
    font-size: 13px;
}

.mail {
    color: #fff;
    font-size: 13px;
}

.welcome-content {
    background-color: #EDF0F5;
}

.logo img {
    max-width: 100%;
    height: 50px;
}

.left-content {
    padding-top: 200px;
}

.left-content h2 {
    padding-bottom: 30px;
}

.left-content p {
    font-size: 13px;
    line-height: 1.9;
}

.btn {
    background-color: #008ED0;
    color: #fff;
    border-radius: 15px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 14px;
    margin-right: 20px;
}

.form {
    background-color: #fff;
    margin: 40px;
    padding: 40px;
    border-radius: 30px;
}

.input {
    border: none;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px #aaa;
    margin-top: 30px;
}

.upload {
    width: max-content;
    margin-bottom: 30px;
    background-color: #EDF0F5;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: 13px;
}

.upload input {
    opacity: 0;
}

.file-upload p {
    font-size: 12px;
}

.aboutus {
    margin-top: 100px;
}

.about h6 {
    color: #008ED0;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about h4 {
    font-weight: 600;
}

.about p {
    margin-top: 30px;
    font-size: 13px;
    line-height: 1.9;
}

.about-icon h6 {
    color: #008ED0;
    font-size: 13px;
    margin-bottom: 30px;
}

.about-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.about-icon a {
    text-decoration: none;
}

.about-icon p {
    font-size: 13px;
}

.about-image img {
    max-width: 100%;
    height: 400px;
}

.founder-message {
    background: #EDF0F5;
    padding-right: 10px;
    margin-top: 20px;
}

img.doctor-img {
    max-width: 100%;
    margin-top: 40px;
}

.detailed {
    background-color: #008ED0;
    color: #fff;
    padding: 20px;
    border-radius: 0px 20px;
    text-align: center;
    margin-bottom: -55px;
    z-index: 9;
    position: relative;
    box-shadow: 1px 1px 2px 2px #85868742;
}

.detailed-text h6 {
    color: #008ED0;
}

.hospital-detailed p {
    font-size: 12px;
}

.service-section {
    background: #edf0f5;
}

.heading {
    padding: 20px;
    text-align: center;
}

.heading h6 {
    color: #008ed0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.heading h4 {
    color: #000;
    font-weight: bold;
}

.service-card {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 30px;
    margin: 20px;
    padding: 10px 35px;
    box-shadow: 1px 1px 2px 3px #d1cece2c;
}

.card-body {
    text-align: center;
    margin: 10px;
}

.card-body a {
    text-decoration: none;
    color: #008ed0;
    font-weight: bold;
    font-size: 13px;
}

.icon i {
    color: #008ed0;
}

h6.card-subtitle {
    font-weight: bold;
    color: #000;
}

p.card-text {
    font-size: 13px;
}

.sub-heading {
    margin-top: 40px;
    margin-bottom: 90px;
}

.heading h6 {
    margin-top: 100px;
}

.services-button {
    margin-top: 30px;
}

.services-button a {
    color: #fff;
    text-decoration: none;
    background: #008ed0;
    padding: 15px 50px;
    border-radius: 35px;
    font-weight: bold;
}

.hospital-section {
    margin-top: 100px;
}

p.paragraph-text {
    font-size: 13px;
}

.detailed-text p {
    color: #008ed0;
}

.detailed-text h4 {
    font-weight: bold;
    letter-spacing: 1px;
}

.detailed-text a {
    color: #fff;
    text-decoration: none;
    background: #008ed0;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.right-photo {
    background-color: #EDF0F5;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.right-photo img {
    max-width: 100%;
    height: 250px;
    padding: 15px;
}

.right-photo h5 {
    font-weight: 600;
}

.right-photo p {
    color: #008ED0;
    font-size: 13px;
}

.left-photo {
    background-color: #EDF0F5;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.left-photo img {
    max-width: 100%;
    height: 250px;
    padding: 15px;
}

.left-photo h5 {
    font-weight: 600;
}

.left-photo p {
    color: #008ED0;
    font-size: 13px;
}

.client-section {
    margin-top: 100px;
    background: #008ed0;
    padding-bottom: 80px;
}

.client-heading {
    text-align: center;
    padding-top: 80px;
}

.client-heading h6 {
    color: #fff;
}

.client-heading h4 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 40px;
}

.happy-clients {
    padding: 40px;
    border-radius: 10px;
}

.happy-clients p {
    font-size: 14px;
    line-height: 29px;
}

.happy-clients img {
    height: 83px;
    width: 83px;
}

.blog-section {
    margin-top: 100px;
}

.blog-heading h6 {
    color: #008ed0;
    margin-bottom: 20px;
}

.blog-heading h4 {
    color: #000;
    font-weight: 600;
}

.card-title i {
    color: #008ed0;
}

.patient-section {
    margin-top: 40px;
    border-bottom: 1px solid #77717175;
    margin-left: 30px;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-track {
    margin: 30px;
}

.footer {
    background-color: #008ED0;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;
}

.about-abc {
    color: #fff;
}

.about-abc p {
    font-size: 12px;
}

.about-abc a {
    color: #fff;
    padding: 5px;
}

.service ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.contact-info {
    font-size: 13px;
    line-height: 30px;
}

.copyright {
    background-color: #085F88;
    font-size: 12px;
    color: #fff;
    padding: 40px;
    text-align: center;
}